.card.product-card {
    margin-bottom: 20px;
}
.product-card .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
}

.card-block {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
}